<div id="question" class="<%= question.id %>">
	<div class="question">
		<div class="row">
			<div class="col-md-8 col-md-offset-2">
				<div class="row">
					<div class="heading col-sm-12">
						<h5>Q:</h5><h3><%= question.question %></h3>
					</div>
				</div>
				<div class="row">
					<div class="options col-sm-8 col-sm-offset-2">
						<p class="answer_a">a. &ensp;<%= question.answer_a %></p>
						<p class="answer_b">b. &ensp;<%= question.answer_b %></p>
						<p class="answer_c">c. &ensp;<%= question.answer_c %></p>
						<p class="answer_d">d. &ensp;<%= question.answer_d %></p>
					</div>
				</div>
				<div class="row">
					<div class="submission col-sm-4 col-sm-offset-4">
						<p class="submit">Submit Answer</p>
					</div>
				</div>
			</div>
			<div class="arrow-down"></div>
			<div class="shadow"></div>
		</div>
	</div>
	<div class="answer row">
		<div class="content col-md-8 col-md-offset-2">
			<div class="row">
				<div class="heading col-sm-12">
					<h5>A:</h5><h3>The correct answer is:</h3>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-8 col-sm-offset-2">
					<% if question.answer_correct == "answer_a" %>
						<p class="option">a. &ensp;<%= question.answer_a %></p>
					<% elsif question.answer_correct == "answer_b" %></p>
						<p class="option">b. &ensp;<%= question.answer_b %></p>
					<% elsif question.answer_correct == "answer_c" %></p>
						<p class="option">c. &ensp;<%= question.answer_c %></p>
					<% elsif question.answer_correct == "answer_d" %></p>
						<p class="option">d. &ensp;<%= question.answer_d %></p>
					<% end %>
					<p><%= question.factoid %></p>
					<p><%= question.activity %></p>
				</div>
			</div>
		</div>
	</div>
</div>

<script>

	$(document).ready(function() {
		var questions = $(".<%= question.id %> .options p");
		var submit_text = $(".<%= question.id %> .submission .submit p");
		var answer_a = $(".<%= question.id %> .answer_a");
		var answer_b = $(".<%= question.id %> .answer_b");
		var answer_c = $(".<%= question.id %> .answer_c");
		var answer_d = $(".<%= question.id %> .answer_d");
		var submitBtn = $(".<%= question.id %> .submit");
		var answerSection = $(".<%= question.id %> .answer");
		var answerContent = $(".<%= question.id %> .answer .content");
		var answerSelection = "";
		var answerCorrect = "<%= question.answer_correct %>"

		answer_a.on("click", function() {
			questions.removeClass("selected")
			$(".<%= question.id %> .submission .submit p").remove()
			answer_a.addClass("selected")
			answerSelection = "answer_a"
			submitBtn.append("<p>You have selected A.</p>")
		});
		answer_b.on("click", function() {
			questions.removeClass("selected")
			$(".<%= question.id %> .submission .submit p").remove()
			answer_b.addClass("selected")
			answerSelection = "answer_b"
			submitBtn.append("<p>You have selected B.</p>")
		});
		answer_c.on("click", function() {
			questions.removeClass("selected")
			$(".<%= question.id %> .submission .submit p").remove()
			answer_c.addClass("selected")
			answerSelection = "answer_c"
			submitBtn.append("<p>You have selected C.</p>")
		});
		answer_d.on("click", function() {
			questions.removeClass("selected")
			$(".<%= question.id %> .submission .submit p").remove()
			answer_d.addClass("selected")
			answerSelection = "answer_d"
			submitBtn.append("<p>You have selected D.</p>")
		});

		submitBtn.on("click", function() {
			answerSection.css({"height": "500px", "opacity": "1"})
			answerContent.css({"height": "500px"})

			if (answerSelection == answerCorrect) {
				console.log("Correct!")
				score += 1
				
			} else {
				console.log("Incorrect!")
				console.log(answerSelection)
				console.log(answerCorrect)
			}
		});
	});
</script>