<%= form_for(@user) do |f| %>
	<%= render 'shared/error_messages', object: f.object %>

	<div class="row">
		<div class="col-sm-6 col-sm-offset-3">
		  <%= f.label :username %>
		  <%= f.text_field :username, class: "form-control" %>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-6 col-sm-offset-3">
		  <%= f.label :password %>
		  <%= f.password_field :password, class: "form-control" %>
		  <%= f.label :password_confirmation, "Password Confirmation" %>
		  <%= f.password_field :password_confirmation, class: "form-control" %>
		</div>
	</div>

	<div class="row">
		<div class="col-sm-6 col-sm-offset-3">
			<div class="button-container row">
				<div class="col-sm-6"><%= f.submit "Create", class: "save button" %></div>
				<div class="col-sm-6"><%= link_to 'Cancel', '/main/index', class: "cancel button" %></div>
			</div>
		</div>
	</div>
<% end %>